{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluebook</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="window-frame">
        {% if not view_locked %}
        <header class="title-bar">
            <div class="title-bar-left">
                <img src="/static/images/logo-white.svg" style="width: 15px; padding: 2px; background-color: #324dc7;"
                    alt="">
                <span class="title-text">Bluebook</span>
            </div>
            <div class="title-bar-right">
                <span class="window-control minimize">—</span>
                <span class="window-control maximize">&#9744;</span>
                <span class="window-control close">&#10005;</span>
            </div>
        </header>
        {% endif %}

        <main class="content-area">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>

</html>