{% extends "base.html" %}
{% load static %}
{% block body_class %}body-setup{% endblock %}
{% block content %}

{% include "partials/_setup_topbar.html" %}

<h1 class="setup-title">Get Your Desk Ready</h1>
<div
    style="display: flex; gap: 16px; width: min-content; margin: 0 auto;">
    <div class="setup-card" style="width: 458px; height: 532px; padding: 32px; overflow: hidden">
        <img src="{% static 'images/items-on.png' %}" style="height: 100%">
    </div>
    <div class="setup-card" style="width: 458px; height: 532px; padding: 32px; overflow: hidden;">
        <img src="{% static 'images/items-under.png' %}" style="height: 100%;">
    </div>
</div>
{% include "partials/_setup_bottomnav.html" with back_url="/setup_step4/" step=5 progress="55%" next_url="/setup_step6/" %}
{% endblock %}