{% extends "base.html" %}
{% load static %}
{% block body_class %}body-setup{% endblock %}
{% block content %}

{% include "partials/_setup_topbar.html" %}

<h1 class="setup-title">We're About to Lock Your Device</h1>
<div class="setup-card" style="width: 529px; height: 428px; padding: 20px; text-align: center;">
    <img style="width: 100%; height: auto;" src="{% static 'images/lock-device.png' %}" alt="">
</div>
{% include "partials/_setup_bottomnav.html" with back_url="/setup_step7/" step=8 progress="88%" next_url="/start-code/" %}
{% endblock %}