{% extends "base.html" %}
{% load static %}
{% block body_class %}body-setup{% endblock %}
{% block content %}

{% include "partials/_setup_topbar.html" %}

<h1 class="setup-title">Confirm Device Information</h1>
<div class="setup-card" style="width: 660px; padding: 32px 24px 29px 24px; text-align: left;">
    <h3 style="font-size: 20px; margin-bottom: 20px; color: #505050">Who owns this device?</h3>
    <div style="font-size: 16px; display: flex; flex-direction: column; gap: 15px; margin-bottom: 30px;">
        <label style="display: flex; align-items: center; gap: 10px; cursor: pointer;">
            <input type="radio" name="device_owner" value="mine" checked>
            I own this device (or I borrowed it from someone I know).
        </label>
        <label style="display: flex; align-items: center; gap: 10px; cursor: pointer;">
            <input type="radio" name="device_owner" value="collegeboard">
            I borrowed this device from College Board.
        </label>
        <label style="display: flex; align-items: center; gap: 10px; cursor: pointer;">
            <input type="radio" name="device_owner" value="school">
            My school or test center owns this device.
        </label>
    </div>
    <hr style="border: 0; border-top: 1px solid #ddd; margin-bottom: 23px;">
    <div style="color: #1e1e1e;">This information helps us resolve issues faster if you have a problem
        with your device.</div>
</div>
{% include "partials/_setup_bottomnav.html" with back_url="/setup/" step=2 progress="22%" next_url="/setup_step3/" %}
{% endblock %}