{% extends "base.html" %}
{% load static %}
{% block body_class %}body-setup{% endblock %}
{% block content %}

<div class="setup-top-bar">
    <button class="btn-icon-text">
        <img style="width: 20px; height: 20px;" src="{% static 'images/help.svg' %}" alt="">
        Help
    </button>
    <a href="/dashboard/" class="btn-icon-text" style="text-decoration:none;">Return to Home <svg width="20" height="20"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg></a>
</div>

<h1 class="setup-title">Get Your Desk Ready</h1>
<div
    style="display: flex; gap: 14px; justify-content: center; align-items: stretch; max-width: 1000px; margin: 0 auto;">
    <div class="setup-card" style="width: 45%; padding: 30px; text-align: left; align-self: flex-start; margin:0;">
        <img src="{% static 'images/items-on.png' %}" alt="">
    </div>
    <div class="setup-card" style="width: 45%; padding: 30px; text-align: left; align-self: flex-start; margin:0;">
        <img src="{% static 'images/items-under.png' %}" alt="">
    </div>
</div>
<div class="bottom-nav">
    <button class="btn-secondary" onclick="window.location.href='/setup_step4/'">Back</button>
    <div class="progress-container"><span class="progress-text">Step 5 of 9</span>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 55%"></div>
        </div>
    </div>
    <button class="btn-next" onclick="window.location.href='/setup_step6/'">Next</button>
</div>
{% endblock %}