{% extends "base.html" %}
{% load static %}
{% block body_class %}body-setup{% endblock %}
{% block content %}

<div class="setup-top-bar">
    <button class="btn-icon-text">
        <img style="width: 20px; height: 20px;" src="{% static 'images/help.svg' %}" alt="">
        Help
    </button>
    <a href="/dashboard/" class="btn-icon-text" style="text-decoration:none;">
        Return to Home
        <img style="width: 20px; height: 20px;" src="{% static 'images/home.png' %}" alt="">
    </a>
</div>

<h1 class="setup-title">Digital Test Security</h1>
<div style="width: 600px; text-align: left; margin: 0 auto; box-sizing: border-box;">
    <p style="font-weight: bold; margin-bottom: 20px; font-size: 16px; color: #1e1e1e;">You're bound by the following
        rules for today's exam:</p>
    <ul
        style="margin-left: 20px; margin-bottom: 30px; line-height: 1.6; display: flex; flex-direction: column; gap: 15px; color: #333; font-size: 15px;">
        <li>You may not give or receive help during the exam. You may not share or post
            anything<br>related to this exam.</li>
        <li>Your answers must be entirely your own. College Board will review your
            responses.</li>
        <li>If you attempt to cheat, your score will be canceled, college admissions offices
            may be<br>notified, and you will be disqualified from taking any AP Exams, SAT or PSAT<br>assessments,
            or
            CLEP exams.</li>
    </ul>

    <div style="display: flex; gap: 20px; justify-content: space-between; color: #1e1e1e">
        <div style="flex: 1; border-radius: 8px; overflow: hidden; background-color: white;">
            <div
                style="padding-bottom: 8px; font-weight: bold; border-bottom: 1px solid #c6c6c6; font-size: 15px; color: #1e1e1e;">
                Test Security Pledge
            </div>
            <div style="padding-top: 14px; padding-bottom: 18px; font-size: 15px; line-height: 1.5;">
                I am the person who is supposed to take this exam. I agree to follow the rules above and understand what
                will happen if I break them.
            </div>
        </div>
        <div style="flex: 1; border-radius: 8px; overflow: visible; display: flex; flex-direction: column;">
            <div style="padding-bottom: 8px; font-weight: bold; font-size: 15px;">
                Retype the Test Security Pledge:
            </div>
            <textarea id="security-pledge-input"
                style="padding: 14px; flex: 1; border: 1px solid #c6c6c6; border-radius: 8px; resize: none; width: 111%; font-size: 15px; line-height: 1.5;"></textarea>
        </div>
    </div>
</div>
<div class="bottom-nav">
    <button class="btn-secondary" onclick="window.location.href='/setup_step2/'">Back</button>
    <div class="progress-container"><span class="progress-text">Step 6 of 9</span>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 66%"></div>
        </div>
    </div>
    <button class="btn-next" onclick="window.location.href='/setup_step7/'">Next</button>
</div>
{% endblock %}